Repository templ-project/generic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, task shlint_py -- --fix, task pwshlint_py -- --fix

chore: added custom test for uvx bootstrapper + added better clean instructions
  .github/workflows/ci.yml
  .jscpd/jscpd-badge.svg
  Taskfile.yml
  src/cli.ps1
  src/cli.sh
Due: prettier --write, eslint --fix, task shlint_py -- --fix, task pwshlint_py -- --fix

chore: added custom test for uvx bootstrapper + added better clean instructions
  .github/workflows/ci.yml
  .jscpd/jscpd-badge.svg
  .prettierignore
  .vscode/mcp.json
  CHANGELOG.md
  README.md
  Taskfile.yml
  _uvx_install/__init__.py
  _uvx_install/bootstrap.py
  eslint.config.mjs
  pyproject.toml
  src/cli.ps1
  src/cli.sh
Due: prettier --write, eslint --fix, task shlint_py -- --fix, task pwshlint_py -- --fix

chore: added python linter as well
  .jscpd/jscpd-badge.svg
  .lintstagedrc.yml
  .prettierignore
  .scripts/pwshlint.py
  .scripts/pylib/__init__.py
  .scripts/pylib/file_finder.py
  .scripts/pylib/linter.py
  .scripts/shlint.py
  Taskfile.yml
  package-lock.json
  pyproject.toml
  uv.lock
Due: prettier --write, eslint --fix

chore: aligning to https://mise.jdx.dev/dev-tools/mise-lock.html
  .gitattributes
  .github/actions/setup-tools/action.yml
  .gitignore
  .jscpd/jscpd-badge.svg
  .mise.lock
  Taskfile.yml
  mise.lock
Due: prettier --write, eslint --fix

chore: forgot
  .jscpd/jscpd-badge.svg
  Taskfile.yml
Due: prettier --write, eslint --fix

chore: architecture change
  .github/workflows/ci.build.yml
  .github/workflows/ci.quality.yml
  .github/workflows/ci.release.yml
  .github/workflows/ci.version.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .jscpd/jscpd-badge.svg
  .mise.toml
  .prettierignore
  src/.gitgnore
  src/.gitignore
Due: prettier --write, eslint --fix

chore: architecture change
  .github/workflows/ci.build.yml
  .github/workflows/ci.quality.yml
  .github/workflows/ci.release.yml
  .github/workflows/ci.version.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .jscpd/jscpd-badge.svg
  .mise.toml
  .prettierignore
  Taskfile.yml
  src/.gitgnore
  src/.gitignore
Due: prettier --write, eslint --fix

chore: added powershell tests - bash doesn't work yet
  .jscpd/jscpd-badge.svg
  .mise.toml
  .prettierignore
  .scripts/fix-mise-pwsh.ps1
  .scripts/fix-mise-pwsh.sh
  .scripts/run-pester.ps1
  Taskfile.yml
  package-lock.json
  package.json
  src/.gitignore
  test/greeter.Tests.ps1
  test/greeter.test.bats
  uv.lock
Due: prettier --write, eslint --fix, task shlint_py -- --fix, task pwshlint_py -- --fix

fix: updated readme as well
  .jscpd/jscpd-badge.svg
  README.md
Due: prettier --write, eslint --fix

chore: fixed formatter
  .jscpd/jscpd-badge.svg
  CHANGELOG.md
Due: prettier --write, eslint --fix

fix: sort all config files alphabetically for consistency and maintainability
  .PSScriptAnalyzerSettings.psd1
  .editorconfig
  .gitattributes
  .github/dependabot.yml
  .github/workflows/ci.quality.yml
  .gitignore
  .jscpd.json
  .jscpd/jscpd-badge.svg
  .lintstagedrc.yml
  .prettierignore
  .scripts/fix-mise-pwsh.sh
  .shellcheckrc
  Taskfile.yml
  eslint.config.mjs
  mise.lock
  mise.toml
  mkdocs.yml
  package-lock.json
  pyproject.toml
  uv.lock
Due: prettier --write, eslint --fix, task shlint_py -- --fix

feat(generic): refactor Taskfile into modular includes structure
  .jscpd/jscpd-badge.svg
  .taskfiles/Taskfile.common.yml
  .taskfiles/Taskfile.deps.yml
  .taskfiles/Taskfile.quality.yml
  .taskfiles/Taskfile.sync.yml
  Taskfile.yml
Due: prettier --write, eslint --fix

chore: updated setup-tools action for better caching
  .github/actions/setup-tools/action.yml
  .jscpd/jscpd-badge.svg
Due: prettier --write, eslint --fix

chore(generic): fix cache restore-keys in setup-tools action
  .github/actions/setup-tools/action.yml
  .jscpd/jscpd-badge.svg
Due: prettier --write, eslint --fix

chore: cleanning things up
  .github/actions/setup-tools/action.yml
  .gitignore
  .jscpd/jscpd-badge.svg
Due: prettier --write, eslint --fix

fix: updated readme
  .jscpd/jscpd-badge.svg
  README.md
  mise.lock
  package-lock.json
  uv.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,md,toml,yaml,yml}
  eslint --fix: any of: *.{json,md,toml,yaml,yml}
  task shlint_py -- --fix: any of: *.sh
  task pwshlint_py -- --fix: any of: *.ps1
